# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# Editor and misc backup files - anywhere
*~
.*~
.*.swp
*.bak
*.bak[0-9][0-9]
\#*\#
MAKE.sh
Makefile
*.code-workspace

# File-browser settings - anywhere
.directory
.vscode

# CVS recovered versions - anywhere
.#*

# Objects and archives - anywhere
*.[oa]
*.la
*.so
*.so.*

# Build directories - anywhere
nbproject/*

# Corefiles
core

# Source packages - anywhere
*.tar.bz2
*.tar.gz
*.tar.xz
*.tar
*.tgz
*.gtgz
